# Хост приложения:
APP_HOST=laravel.docker.local

# Путь к приложению внутри контейнера:
APP_PATH=/pub/www/app

# Доступы для СУБД:
DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=laravel
DB_USER=login
DB_PASSWORD=pass

# Если установить значение 1, то artisan schedule:run будет выполняться раз в минуту
# Если установить значение 0, то планировщик Laravel не будет выполняться
LARAVEL_CRON_ENABLED=0

# Если переменная MAILPIT_ENABLED задана, допустимы только значения 0 или 1
# Если значение 1, то mailpit будет перехватывать письма
# Если значение 0, то mailpit не будет перехватывать письма
# (контейнер mailpit обязательно нужен)
MAILPIT_ENABLED=0
MAILPIT_HOST=mailpit:1025
